{% extends 'base.html' %}

{% block title %}このサイトについて{% endblock %}

{% block content %}

<div class="container">
        <h1>このサイトについて</h1>
        <p>このサイトは学習目的で作成されたものです</p>

        <h2>使い方</h2>
        <ul>
            <li>新規登録:アカウントを作成</li>
            <li>ログイン:アカウントのログインをする</li>
            <li>新規投稿:投稿する</li>
        </ul>
        <p>投稿やアカウントの削除もできますので、お気軽にお試しください</p>

        <p></p>
        <p>何かありましたら以下にご連絡ください</p>
        <a href="https://github.com/forexpts">githubアカウント</a>

</div>

{% endblock %}
